In [1]:
from iq_dataset import IQDataset
import logging

/Users/mkrtichhovsepyan/Desktop/AUTO/acim-happiness/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# logging configuration
logging.basicConfig(
    level=logging.INFO,
    format="%(name)s:%(lineno)s [%(levelname)s]: %(message)s",
)

In [3]:
IQ_DATA = IQDataset.from_kaggle()

In [6]:
IQ_DATA['DATA']

     rank            country   IQ  education_expenditure  avg_income  avg_temp
0       1         Hong Kong   106                 1283.0     35304.0      26.2
1       2              Japan  106                 1340.0     40964.0      19.2
2       3          Singapore  106                 1428.0     41100.0      31.5
3       4            Taiwan   106                    NaN         NaN      26.9
4       5              China  104                  183.0      4654.0      19.1
..    ...                ...  ...                    ...         ...       ...
103   104  Equatorial Guinea   56                    NaN      7625.0      29.9
104   105             Gambia   55                   14.0       648.0      32.9
105   106          Guatemala   55                   92.0      2830.0      32.1
106   107       Sierra Leone   52                   16.0       412.0      30.4
107   108              Nepal   51                   22.0       595.0      24.6

[108 rows x 6 columns]